@use "./variables" as vars;
@use "./mixins" as mix;
@use "./reset";

body {
  font-family: "Source Sans Pro", Arial, Helvetica, Verdana;
  color: vars.$text-color;
  font-size: 16px;
}

h1,
h2,
h3 {
  color: vars.$dark-color;
  font-family: "Titillium web", Arial, Helvetica, Verdana;
}

a,
a:visited {
  color: vars.$text-color;
}

a:hover,
a:focus {
  color: vars.$hover-color;
}

:focus,
:focus-visible {
  outline: 1px dotted vars.$contrast-color;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  @include mix.bkp(md) {
    max-width: 1104px;
    padding: 0 20px;
  }
}
