$dark-color: #000000;
$light-color: #fff;
$primary-color: $dark-color;
$dark-gray-color: #484848;
$soft-gray-color: #828282;
$highlight-color: #2a42ed;
$higlight-2-color: #2738f1;
$contrast-color: #f44337;
$text-color: $dark-gray-color;
$stars-color: #fbc02d;
$hover-color: $contrast-color;

/* :root {
  --color-gray-dark: #484848;
  --color-gray-soft: #828282;
  --color-higlight: #2a42ed;
  --color-higlight-2: #2738f1;
  --color-stars: #fbc02d;
  --color-contrast: #f44337;
} */
