@use "../base/variables" as vars;
@use "../base/mixins" as mix;

.switch {
  cursor: pointer;
  display: inline-block;
  &:hover {
    color: vars.$hover-color;
  }
}

.switch-slider {
  display: inline-block;
  background: vars.$soft-gray-color;
  border-radius: 12px;
  width: 45px;
  height: 24px;
  margin-left: 10px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}

.switch-slider:before,
.switch-slider:after {
  content: "";
}
.switch-slider:before {
  display: block;
  background-color: vars.$light-color;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 3px;
  left: 4px;
  transition: left 0.25s;
}
.switch:hover .switch-slider:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.switch-checkbox:checked + .switch-slider {
  background-color: vars.$dark-gray-color;
}
.switch-checkbox:checked + .switch-slider:before {
  left: 23px;
}

/* .switch-checkbox {
  position: absolute;
  visibility: hidden;
} */

.switch-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}
